.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto; 
}

.title_block {
  width: 1000px;
  border: 1px solid #000;
  background-color: #e0e0e0;
}

.top-section {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 300px;
  margin-top: 100px;
  padding: 50px;
  border: 1px solid #000;
  background-color: #e0e0e0;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  margin-top: 100px;
  border: 1px solid #000;
  background-color: #e0e0e0;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -600px;
  border: 1px solid #000;
  background-color: #e0e0e0;
}

.area_chart {
  z-index: 2;
  
}

#choropleth_map {
  z-index: 2;
  
}

#radial_plot {
  z-index: 2;
  
}

h1, h2 {
  text-align: center;
  z-index: 2;
  font-family: 'Red Hat Display', sans-serif;
}

.text-block {
  z-index: 2;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;

}
