.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto; 
  background-color: #f2dfdb;
}

.title_block {
  width: 1000px;
  border: 1px solid #000;
  background-color: #e0e0e0;
  /*background-color: #faf1f1;*/
}

.top-section {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 300px;
  /*margin-top: 0px;*/
  padding: 50px;
  border: 1px solid #000;
  /*background-color: #e0e0e0;*/
  background-color: white;
}

.map-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  padding: 50px;
  /*margin-top: 100px;
  margin-bottom: 100px;*/
  border: 1px solid #000;
  /*background-color: #e0e0e0;*/
  background-color: white;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  padding: 50px;
  border: 1px solid #000;
  background-color: white;
}

.area_chart {
  z-index: 2;
  
}

#choropleth_map {
  z-index: 2;
  
}

#stacked_bar {
  z-index: 2;
}

#radial_plot {
  z-index: 2;
  
}

h1, h2 {
  text-align: center;
  z-index: 2;
  font-family: 'Red Hat Display', sans-serif;
  margin: 50px;
}

.text-block {
  z-index: 2;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;

  align-items: center;
  width: 900px;
  padding: 50px;
  /*border: 1px solid #000;*/
  background-color: white;
  margin-bottom: 80px;
}

strong {
  color: #e49444;
}