#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#area_chart {
	top: 400px;
	bottom: 100px;
	left: 00px;
	right: 00px;
}

.centre {
	height: 40vh;
}

h1 {
	/*color: red*/
	text-align: center
}